<div class="titulo">
    <h3 class='strong'>{{titulo}}</h3>
    <div *ngIf='escolhaAte > 1' [ngSwitch]='opcoesEscolhidas.length'>
        <p *ngSwitchCase='0'>Escolha até 3</p>
        <p *ngSwitchCase='1'>Escolha até 3 (1 selecionado)</p>
        <p *ngSwitchCase='2'>Escolha até 3 (2 selecionados)</p>
        <p *ngSwitchCase='3'>Escolha até 3 (3 selecionados)</p>
    </div>
</div>
<div>
    <div>
        <p *ngFor='let opcao, of opcoes; let i = index'>
            <input [disabled]='opcoesEscolhidas.indexOf(opcao) === -1 && opcoesEscolhidas.length >= 3'
                [checked]='opcoesEscolhidas.indexOf(opcao) !== -1' (change)='marcaDesmarca(opcao)'
                [type]="escolhaAte > 1 ? 'checkbox' : 'radio'" name=' opcao'>
            <label for="opcao">{{opcao}}</label>
        </p>
    </div>
</div>


<div class="h3">
    <!-- <h3>{{titulo}}</h3> -->

    <!-- </div>
<div>
    <p *ngFor='let opcao, of opcoes; let i = index'>
        <input [disabled]='opcoesEscolhidas.length >= 3' (change)='marcaDesmarca(i)' type="checkbox" name=' opcao'>
        <label for="opcao">{{opcao}}</label>
    </p>
</div> -->
    <!-- [disabled]='opcoesEscolhidas.length >=3'  -->

    <!-- *ngIf -->
    <!-- <button (click)='toggleShow()'>Fazer pedido</button> -->

    <!-- <div *ngIf="exibir">Vai ser exibido/ocultado ao clicar no botão</div> -->

    <!-- *ngFor
<table>
    <tr *ngFor="let opcao of opcoes">
        <td><input [disabled]='opcoesEscolhidas.length>=3' type="checkbox" name='opcao'></td>
        <td><label for="opcao">{{opcao}}</label></td>
    </tr>
</table> -->